snippet vdc "var x = document.createElement"
var ${1:elt} = document.createElement("${2:div}");
${VISUAL}$0
endsnippet

snippet dc "document.createElement" W
document.createElement("${1:div}")
endsnippet

snippet fwt "function() { with(this) { ... }}"
function() { with(this) {
	${VISUAL}$1
}}$0
endsnippet

# vim:ft=snippets:
